<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
	<div class="weather__display">
		<div class="weather">
			<div class="display">
				<div class="display__input">
					<input class="weather__input" type="text">
				</div>
				<div class="display__local">
					<h2 class="name">Ha Noi</h2>
					<p class="coutry">VietNam</p>
					<span class="time">Ngay thang</span>
				</div>
				<div class="display__temperature">
						<h1><span class="temperature">30</span> <sup>o</sup>C </h1>
				</div>
				<div class="display__state">
					<h1 class="state" >Cold</h1>
				</div>
				<div class="display__icon-state">
					<div class="display__eyes">
						<i class="fa-solid fa-eye"></i>
						<div class="eyes">1000 (m)</div>
					</div>
					<div class="display__wind">
						<i class="fa-solid fa-wind"></i>
						<div class="wind" >1000 (m)</div>
					</div>
					<div class="display__cloud">
						<i class="fa-solid fa-cloud"></i>
						<div class="cloud">1000 (m)</div>
					</div>
				</div>
	
			</div>
		</div>
	</div>
	<script src="./app.js"></script>
</body>
</html>